<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaee https://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controller.FrontController</servlet-class>
    </servlet>
    
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/fc/*</url-pattern>
    </servlet-mapping>
    
    <!-- JSP Pages -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.jspf</url-pattern>
            <url-pattern>*.jspx</url-pattern>
            <url-pattern>*.xsp</url-pattern>
            <url-pattern>/WEB-INF/address.jsp</url-pattern>
            <url-pattern>/WEB-INF/admin.jsp</url-pattern>
        </jsp-property-group>
    </jsp-config>
</web-app>
